body {
  margin: 0;
}
.pagetitle {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 0.9em;
  color: #323232;
  font-weight: bolder;
}
nav {
    padding: 23px;
    text-align: center;
}
h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  color: #323232;
  font-weight: bolder;
  text-align: center;
  letter-spacing: -2px;
}
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #323232;
  margin-left: 1em;
  text-transform: uppercase;
}
li {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #323232;
  padding-bottom: 1em;
}
ul {
  list-style-type: none;
}
.hourscontact {
  font-weight: bold;
  text-transform: uppercase;
}
.address {
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  font-family: 'PT Serif', serif;
  font-size: .875em;
  line-height: 2em;
  color: #323232;
  margin: 36px;
}
a {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #f26522;
  font-weight: bold;
  display: inline-block;
}
footer {
  background-color: #00897f;
  text-align: center;
  padding: 48px;
}
.foot {
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25em
  font-weight: bold;
}
.greybackground {
  background-color: lightgrey;
}
.splash {
  background-position: center;
  height: 280px;
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-hero.jpg);
  background-size: cover;
}
.map {
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-map.jpg);
  background-size: cover;
  height: 280px;
  width: auto;
  background-position: center;
}
.suitcat {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 45px auto;

}
.main {
  display: flex;
  flex-direction: column;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
