body {
  margin: 0;
}
.pagetitle {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #323232;
  font-weight: bolder;
}
nav {
    padding: 1.5em;
    text-align: center;
}
h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  color: #323232;
  font-weight: bolder;
  text-align: center;
  margin-top: 1.2em;
}
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #323232;
  padding-bottom: 1em;
}
ul {
  list-style-type: none;
}
.hourscontact {
  font-weight: bold;
  text-transform: uppercase;
}
.address {
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  font-family: 'PT Serif', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
  margin: 0 2em 2em 2em;
  word-spacing: 0.1em;
}
a {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #f26522;
  font-weight: bold;
  display: inline-block;
}
footer {
  background-color: #00897f;
  text-align: center;
  padding: 2em;
}
.foot {
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25em
  font-weight: bolder;
}
.katmavis {
  background-color: lightgrey;
}
.katmavisbox {
  display: flex;
  flex-direction: column;
}
.contactbackground {
  background-color: lightgrey;
}
.splash {
  background-position: center;
  height: 17.5em;
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-hero.jpg);
  background-size: cover;
}
.map {
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-map.jpg);
  background-size: cover;
  height: 17.5em;
  width: auto;
  background-position: center;
}
.fancycat {
  display: none;
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  margin: 2.8125em auto;
}
.flowercat {
  display: none;
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  margin: 2.8125em auto;
}
.suitcat {
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  margin: 2.8125em auto;
}
.main {
  display: flex;
  flex-direction: column;
}
.getintouch {
  display: none;
}
.cats {
  display: flex;
  flex-direction: row;
}
.contactbox {
  display: flex;
  flex-direction: column;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
  body {
    margin: 0;
  }
  nav {
      padding: 1em;
      text-align: left;
  }
  .pagetitle {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    color: #323232;
    font-weight: bolder;
  }
  .splash {
    background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-hero.jpg);
    width: 100%;
    position: relative;
    height: 530px;
    background-size: cover;
  }
  .main {
    margin: 0 330px 0 330px;
  }
  h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    color: #323232;
    font-weight: bolder;
    text-align: center;

  }
  p {
    font-family: 'PT Serif', serif;
    font-size: .875em;
    line-height: 1.75em;
    color: #323232;
    margin: 0 2em 2em 2em;
    word-spacing: 0.1em;
  }
  .katmavisbox {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
  }
  .katmavis {
    background-color: lightgrey;
    width: 520px;
  }
.cats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  .fancycat {
    display: inline-block;
    width: 15.625em;
    height: 15.625em;
    border-radius: 50%;
    margin: 2.8125em auto;
  }
  .flowercat {
    display: inline-block;
    width: 15.625em;
    height: 15.625em;
    border-radius: 50%;
    margin: 2.8125em auto;
  }
  .suitcat {
    width: 15.625em;
    height: 15.625em;
    border-radius: 50%;
    margin: 2.8125em auto;
  }
  .intouchbackground {
    background-color: lightgrey;
    padding: 7px 0 64px 0;
  }
  .getintouch {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .contactbox {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin: 0 330px 0 330px;
  }
  .contactbackground {
    background-color: white;
    width: 520px;
  }
  .map {
    background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-map.jpg);
    width: 100%;
    position: relative;
    height: 374px;
    background-size: cover;
  }
  footer {
    background-color: #00897f;
    text-align: center;
    padding: 4em;
  }

}
