body {
  margin: 0;
}
.pagetitle {
  font-family: PT Sans Narrow;
  font-size: 0.9em;
  color: #323232;
  text-align: center;
  padding: 23px;
  font-weight: bolder;
}
h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.875em;
  color: #323232;
  font-weight: bolder;
  text-align: center;
  letter-spacing: -2px;
}
h2 {
  font-family: PT Sans Narrow;
  font-size: 1.5em;
  color: #00897f;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-family: PT Serif;
  font-size: 1em;
  color: #323232;
  margin-left: 1em;
  text-transform: uppercase;
}
p {
  font-family: PT Sans;
  font-size: .875em;
  line-height: 2em;
  color: #323232;
  margin: 36px;
}
a {
  font-family: PT serif;
  font-size: 1em;
  color: #f26522;
  font-weight: bold;
  display: inline-block;
}
footer {
  background-color: #00897f;
}
.foot {
  text-align: center;
  color: white;
  font-family: PT Sans Narrow;
  padding: 48px;
  font-size: 1.25em
  font-weight: bold;
}
.greybackground {
  background-color: lightgrey;
}
.splash img {
  display: block;
  margin: auto;
}
.splash {
  width: 100%;
  height: auto;
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-hero-mobile.jpg);
  background-size: cover;
}
.map {
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_1/master/assets/images/kats-map.jpg);
  background-size: cover;
  height: 280px;
  width: auto;
  background-position: center;
}
.suitcat {
  border-radius: 50%;
  margin: 45px;
}
.main {
  display: flex;
  flex-direction: column;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
